
.icon-rfider:before { content: '\e800'; } /* '' */
.icon-touch_app:before { content: '\e801'; } /* '' */
.icon-brain:before { content: '\e802'; } /* '' */
.icon-barcode:before { content: '\e804'; } /* '' */