@import "@/assets/scss/abstracts/_mixins.scss";

.not-found {
  height: 100vh;
  width: 100%;
  text-align: center;
  transform: translateY(20%);

  .not-found-image {
    width: 200px;
  }
  .not-found-message {
    margin-top: 30px;
    color: $brand-primary;
    font-size: $font-size-large;
  }
}
